<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Factura EdificaPRO</h1>
		<p>Ha comprado el curso "<%= @course_details.name %>"</p>
		<p>El precio es <%= @course_details.price/100 %> €.</p>
	</body>
</html>