<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Factura EdificaPRO</h1>
		<p>Ha comprado el curso </p>
		<p>El precio es 59 €.</p>
	</body>
</html>