<div class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3>Contacto</h3>
				<p>soporte@edificapro.com</p>
			</div>
		</div>
	</div>
</div>