/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: "museo-sans",sans-serif;
	background-color: #585857;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.top-header {
	min-height: 80px;
	padding-top: 16px;
	background-color: white;
}

.menu-button-div {
	background-color: white;
}

.footer {
	padding: 40px 0px 40px 0px;
	text-align: center;
	color: white;
}

.logo-edificapro {
	width: 178px;
	height: 47px;
	margin: 0px;
}

.sessionbar {
	padding-top: 8px;
	text-align: right;
}

ul.menu-navigation {
	list-style: none;
}

ul.menu-navigation > li {
	float: left;
	padding: 5px;
}

a.sessionbar-link {
	color: #585857;
	font-size: 12px;
	font-weight: bold;
}

a.sessionbar-link:hover {
	color: #db3e3b;
	text-decoration: none;
}

.sessionbar-email {
	color: #585857;
	font-size: 12px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
}

.separator {
	border-left: 1px solid #ccc;
	width: 1px;
	height: 22px;
}

.user-icon {
	width: 13px;
	height: 13px;
	margin-top: 3px;
}

.main-content {
	background-color: white;
	padding-bottom: 50px;
	min-height: 600px;
}

.register-container {
	
  background-size: cover;
  background-color: black;
}

.session-container {
	
  background-size: cover;
  background-color: black;
}

.form-well {
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 30px;
	background-color: #EAEAEA;
	margin-top: 20px;
}

.photo-text {
	color: white;
}

.photo-text-link {
	text-decoration: underline;
	color: white;
}

.photo-text-link:hover {
	color: white;
}

.form-button {
	background-color: #059e9a;
	color: white;
}

.footer-link {
	color: white;
}

.footer-link:hover {
	color: white;
}

.session-content {
	min-height: 600px;
}

.home-first-container-background {
	background-color: #332a28;
}

.home-first-container {
  background-image: url(image-path('foto_micheel.jpg'));
  background-size: cover;
  min-height: 300px;
  max-width: 1300px;
  padding: 50px 0px 50px 0px;
  margin: 0 auto;
}

.home-first-container-mobile {
	background-color: #EAEAEA;
}

.tablet-view {
	text-align: center;
}

.home-second-container {
	padding: 50px 0px 50px 0px;
}

.home-third-container {
  background-image: url(image-path('interior_casa3.jpg'));
  background-size: cover;
  background-color: black;
  min-height: 400px;
  padding: 50px 0px 50px 0px;
}

.home-fourth-container {
	padding: 50px 0px 50px 0px;
}

.home-photo-title {
	color: white;
	padding-bottom: 20px;
}

.home-photo-text {
	color: white;
	font-size: 18px;
	line-height: 23px;
}

p.centered-button {
	text-align: center;
	padding-top: 25px;
	margin-bottom: 0px;
	padding-bottom: 30px;
}

a.button-new {
	background-color: #059E9A;
	color: white;
}

a.button-new:hover {
	color: white;
}

.home-title {
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.home-text {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 22px;
}

.home-img-devices {
	margin-top: 120px;
}

.home-img-house {
	padding: 20px;
	width: 300px;
	height: 287px;
	margin-left: auto;
	margin-right: auto;
}

a.buy-button {
	background-color: #059E9A;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 25px 10px 25px;
	border-radius: 5px;
}

a.buy-button:hover {
	color: white;
	text-decoration: none;
}

.ok-button {
	background-color: #059E9A;
	color: white;
	font-size: 1em;
	font-weight: bold;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	border: none;
}

.danger-button {
	background-color: #de5235;
	color: white;
	font-size: 1em;
	font-weight: bold;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	border: none;
}

.message-container {
	background-color: white;
	padding-bottom: 20px;
}

h2.page-title {
	font-size: 2.5em;
	font-weight: 500;
}

h3.page-subtitle {
	font-size: 1.8em;
}

.form-container {
	background-color: #EAEAEA;
	padding: 25px;
}