// Place all the styles related to the c01 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-header {
	/*background-image: url(image-path('courses/background_title_light.jpg'));
	background-size: cover;*/
	background-color: #db3e3b;
	text-align: center;
}

.title-container {
	padding: 20px;
	margin: 20px;
}

h2.title {
	font-size: 35px;
	font-weight: 700;
	margin: 0px;
	padding: 0px;
	color: white;
}

h2.subtitle {
	font-size: 20px;
	font-weight: 700;
	color: white;
}

.course-nav {
	background-color: #f4f2ed;
	box-shadow: inset 0px 0px 5px #888;
}

nav.theme-navigation > h3 {
	font-size: 18px;
}

ul.items-navigation {
	list-style: none;
	padding: 0px;
	margin-bottom: 20px;
}

.completion-indicator {
	padding-bottom: 3px;
	padding-right: 3px;
}

.menu-button-container {
	text-align: center;
}

.menu-button {
	background-color: #585857;
	color: white;
	border: none;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

a.menu-link {
	color: #585857;
}

a.menu-link:hover {
	text-decoration: none;
	color: #059E9A;
}

.chapter-background {
	background-color: #F4F2ED;
}

.chapter-container {
	background-color: white;
	padding-bottom: 50px;
	padding-left: 5%;
	padding-right: 5%;

}

@media (min-width: 992px) {
	.chapter-container {
		margin-left: 300px;
	}
}

.chapter-container-mobile {
	background-color: white;
	padding-bottom: 50px;
	padding-left: 5%;
	padding-right: 5%;
}

.chapter-content {
	margin: 0 auto;
	max-width: 700px;
}

h3.chapter-title {
	font-size: 38px;
	font-weight: 700;
	color: #585857;
	padding-top: 40px;
	margin-top: 0px;
	margin-bottom: 40px;
	text-align: center;
}

.content-item {
	margin-bottom: 40px;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.text-standard {
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	color: #585857;
}

p.text-standard {
	line-height: 1.5;
	margin-bottom: 26px;
}

ul.text-standard {
	margin-bottom: 26px;
}

.continue-container {
	padding: 20px 0px 20px 0px;
}

.next-theme-container {
	margin-top: 30px;
}

.continue-button {
	background-color: #059e9a;
	color: white;
	border: none;
	font-size: 18px;
	padding: 7px 10px 7px 10px;
	border-radius: 5px;
}

.continue-button:hover {
	background-color: #585857;
	color: white;
}

a.continue-button:hover {
	text-decoration: none;
}

.true-false-title {
	background-color: #db3e3b;
	color: white;
	font-size: 20px;
	padding: 15px;
}

.true-false-content {
	background-color: #f4f2ed;
	padding: 15px;
	font-size: 18px;
	line-height: 28px;
}

.true-false-controls {
	background-color: #f4f2ed;
	padding: 0px 15px 15px 15px;
	height: 55px;
}

.true-false-button {
	margin-left: 15px;
	background-color: #585857;
	color: white;
	border: none;
	padding: 7px 10px 7px 10px;
	font-size: 18px;
}

.true-false-button:hover {
	background-color: #585857;
}

.true-false-answer {
	background-color: #f4f2ed;
	padding: 15px;
	font-size: 18px;
	line-height: 28px;
}

.correct-answer {
	color: #059e9a;
}

.wrong-answer {
	color: #db3e3b;
}

p.text-footnote {
	font-size: 18px;
	line-height: 25px;
}

.side-menu-container {
  padding: 20px;
  width: 300px;
  float: left;
}

h3.side-navigation {
	font-size: 1.2em;
}